<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Store_artifacts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/cards.css">
</head>

<body>
    <div class="page_content">
        <header>

            <div class="title_container">
                <figure>
                    <img id="logo" src="/static/img/logo.png" alt="logo">
                </figure>

                <span id="header_icons">

                    <figure class="icon">
                        <a href="inventory.html">
                            <img src="/static/img/backpack.png" class="icon_img" alt="backpack">
                        </a>
                    </figure>

                    <figure class="icon">
                        <a href="wallet.html">
                            <img src="/static/img/wallet.png" class="icon_img" alt="wallet">
                            <div id="amount_of_coolcoins">100</div>
                        </a>
                    </figure>

                    <figure class="icon">
                        <img src="/static/img/star-icon.png" class="icon_img" alt="exp_icon">
                        <div id="exp_level">5</div>
                    </figure>

                    <figure class="icon">
                        <a href="/logout"><img src="/static/img/logout.png" class="icon_img" alt="logout"></a>
                    </figure>

                </span>
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="store">STORE</a>
                    </li>
                    <li>
                        <a href="crowdfunding.html">CROWDFUNDING</a>
                    </li>
                    <li>
                        <a href="quests">QUESTS</a>
                    </li>
                </ul>
            </nav>

        </header>

        <div class="main_content">

            <h1>STORE</h1>
            <p> </p>

            <h2>Basic Artifact</h2>

            <div class="artefacts">

                    {% for artifact in artifactsBasic %}
                        <div class="card_artefacts">
                            <p class="text_on_card_1"> {{ artifact.getTitle }} </p>
                            <div>
                                <img class="pictures_on_card" src="/static/img/heroes.jpg" alt="Picture of Hero" />
                            </div>
                            <ul>
                                <li>
                                    <p class="text_on_card_2"> {{ artifact.description }} </p>
                                </li>
                                <li>
                                    <p class="text_on_card_2"> {{ artifact.value }} </p>
                                </li>
                            </ul>
                            <button class="buybutton" onclick="buy()">BUY!</button>
                        </div>
                    {% endfor %}

            </div>

            <h2>Magic Artifact</h2>
            <div class="artefacts">
                    {% for artifact in artifactsExtra %}
                    <div class="card_artefacts">
                        <p class="text_on_card_1"> {{ artifact.getTitle }} </p>
                        <div>
                            <img class="pictures_on_card" src="/static/img/heroes.jpg" alt="Picture of Hero" />
                        </div>
                        <ul>
                            <li>
                                <p class="text_on_card_2"> {{ artifact.description }} </p>
                            </li>
                            <li>
                                <p class="text_on_card_2"> {{ artifact.value }} </p>
                            </li>
                        </ul>
                        <button class="buybutton" onclick="buy()">BUY!</button>
                    </div>
                    {% endfor %}

            </div>


        <footer>
            <span id="links">
                <h3>Find us on Facebook:</h3>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100024050271937" target="_blank">TurboKrzyś</a></li>
                    <li><a href="https://www.facebook.com/roman.bulinski" target="_blank">TurboRoman</a></li>
                    <li><a href="https://www.facebook.com/dar.domanski" target="_blank">TurboDaro</a></li>
                </ul>
            </span>

            <span id="copyrights">
                <p>Copyrights&copy; 2018 by TurboSnails, all rights reserved.</p>
            </span>
        </footer>
    </div>


</body>


</html>

